.modal__header {
  padding: 0;
  width: 100%;
  max-width: 238px;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
  text-align: start;
}

@media (min-width: 620px) {
  .modal__header {
    max-width: 358px;
    font-size: 24px;
  }
}
