.profile__avatar-holder {
  position: relative;
  width: 120px;
  height: 120px;
  margin-bottom: 26px;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 900px) {
  .profile__avatar-holder {
    margin-bottom: 0;
    margin-right: 30px;
  }
}
