.modal__wrapper {
  margin: auto;
  width: 100%;
  max-width: 282px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

@media (min-width: 620px) {
  .modal__wrapper {
    max-width: 430px;
    padding-top: 34px;
    padding-bottom: 37px;
  }
}
