.profile__info-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.profile__info-list-item:last-child {
  margin-bottom: 0;
}

@media (min-width: 900px) {
  .profile__info-list-item {
    justify-content: flex-start;
    margin-bottom: 16px;
  }
}
