.logo {
  width: 104px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 620px) {
  .logo {
    width: 120px;
    height: 28px;
  }
}

@media (min-width: 900px) {
  .logo {
    width: 142px;
    height: 33px;
  }
}
